body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: 'Lato'; }

.container {
  background-color: white;
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  padding: 0 auto;
  border: 1px solid maroon;
  padding-bottom: 39px;
  background-color: beige; }

header {
  text-align: center;
  height: 100px;
  font-size: 100px;
  color: maroon;
  padding: 20px; }

.hidden {
  display: none; }

form .todo {
  display: block;
  width: 90%;
  height: 50px;
  font-size: 15px;
  margin: 0 auto; }

section {
  display: block;
  width: 100%;
  height: 100px;
  font-size: 20px; }

.box {
  border: 0.5px solid #cccccc;
  display: block;
  padding: 20px;
  color: maroon; }

.bottomrow {
  color: #cccccc;
  display: block; }

.nextrow {
  display: block;
  height: 0px; }

.crossedout {
  text-decoration: line-through; }

.changecolor {
  color: #cccccc; }

footer {
  height: 100px;
  font-size: 15px;
  color: #cccccc;
  display: block;
  position: absolute; }
  footer ul {
    padding-left: 316px; }
    footer ul li {
      display: inline-block;
      text-decoration: none;
      margin-left: 75px; }
      footer ul li:hover {
        border-bottom: 1px solid maroon;
        padding: 5px; }
